
<h1><%= @place.name%></h1>

<h2>Blog Posts</h2>

<% for post in @place.posts %>
<p> <%= "#{post.posted_on}, #{post.title}, #{post.description}"%></p>
<% end %>

<p>
<a href="/posts/new?place_id=<%= @place.id %>">Make a post </a>
</p>

<a href="/places">Main </a>

